<body onload="go()">
<div>
  Mazes!
  <div style=float:right;font-size:10px> <a href=http://bitbucket.org/grumdrig/mazes/>source code</a></div>
  <br>
  <br>
<form>
  <table>
  <tr>
    <th>Size  
    <td><input type=number name=size id=size> 
    <td>(Initial) grid size
  <tr>
    <th>Count 
    <td><input type=number name=count id=count> 
    <td>Number of mazes to generate
  <tr>
    <th>Step  
    <td><input type=number name=step id=step> 
    <td>Increase in grid size for each maze
  <tr>
    <th>      
    <td><input style=font-size:24px type=submit value=Generate>
</form>
</div>
<style>
body {
  font: 50px Helvetica;
}
canvas {
  margin-top: 1ex;
  display: block;
  width: 800px;
  height: 800px;
}
p {
  page-break-after: always;
}
p:last-child {
  page-break-after: auto;
}
@media print {
  div {
    display: none;
  }
}
th {
  text-align: left;
}
div {
  font: 14pt Helvetica;
  border: solid 1px blue;
  background-color: #aaf;
  padding: 1ex;
}
  
</style>
<script>
function $(id) { return document.getElementById(id) }
function go() {
  var bargs = document.location.search.substring(1).split('&');
  args = {};
  for (i=0; i < bargs.length; i++) {
    arg = unescape(bargs[i]);
    if (arg.indexOf('=') == -1) {
      args[arg.trim()] = true;
    } else {
      kvp = arg.split('=');
      args[kvp[0].trim()] = kvp[1].trim();
    }
  }
  var size = parseFloat(args.size || 10);
  var count = parseInt(args.count || 1);
  var step = parseFloat(args.step || 0);
  $('size').value = size;
  $('count').value = count;
  $('step').value = step;
  for (var i = 0; i < count; i += 1) {
    var s = Math.floor(size + step * i);
    makeOne(s);
  }
}


function makeOne(s) {
  var can = document.createElement('canvas');
  var p = document.createElement('p');
  document.body.appendChild(p);
  p.appendChild(document.createElement('br'));
  p.appendChild(document.createTextNode(s + 'x' + s));
  p.appendChild(can);

  can.width = Math.max(800, s * 4);
  can.height = can.width;
  var m = new GrowingTreeMaze(s,s);
  m.grid[0][0] |= W;
  m.grid[m.h-1][m.w-1] |= E;
  //showMaze(m);
  drawMaze(m, can);
}


function rand(n) {
  return Math.floor(Math.random() * n);
}


function shuffle(array) {
  var tmp, current, top = array.length;

  if(top) while(--top) {
    current = Math.floor(Math.random() * (top + 1));
    tmp = array[current];
    array[current] = array[top];
    array[top] = tmp;
  }

  return array;
}



// Growing Tree Algorithm
// http://weblog.jamisbuck.org/2011/1/27/maze-generation-growing-tree-algorithm
//
// 1. Let C be a list of cells, initially empty. Add one cell to C, at
// random.
//
// 2. Choose a cell from C, and carve a passage to any unvisited
// neighbor of that cell, adding that neighbor to C as well. If there
// are no unvisited neighbors, remove the cell from C.
//
// 3. Repeat #2 until C is empty.

var N = 1, S = 2, E = 4, W = 8;
var DX = {}, DY = {}, OPPOSITE = {};
DX[E] = 1; DX[W] = -1; DX[N] = DX[S] = 0;
DY[S] = 1; DY[N] = -1; DY[E] = DY[W] = 0;
OPPOSITE[E] = W;
OPPOSITE[W] = E;
OPPOSITE[N] = S;
OPPOSITE[S] = N;
var DIRECTIONS = [N, S, E, W];

function GrowingTreeMaze(w, h) {
  var m = this;
  var grid = this.grid = Array(h);
  this.w = w;
  this.h = h;
  for (var i = 0; i < h; ++i) {
    grid[i] = Array(w);
    for (var j = 0; j < w; ++j) grid[i][j] = 0;
  }

  var stack = [];
  var _visited = {};
  function visited(c) { return _visited[c.x+','+c.y]; }
  function visit(c) { 
    _visited[c.x+','+c.y] = true; 
    stack.push(c);
  }
  visit({x: rand(w), y: rand(h)});
  while (stack.length > 0) {
    // Choosing a mix of recursive backtracking, vs. randomization. A
    // value of 1 would be Prim's algorithm, 0 would be recursive
    // backtracking.
    var RANDOMIZATION = 1/8;
    var ci = (Math.random() < RANDOMIZATION) ? rand(stack.length) : 
      stack.length - 1;
    var c = stack[ci];
    var DS = DIRECTIONS.slice(0);
    shuffle(DS)
    for (var di = 0; di < 4; ++di) {
      var D = DS[di];
      var n = {x: c.x + DX[D],
               y: c.y + DY[D]};
      if (0 <= n.y && n.y < h && 
          0 <= n.x && n.x < w && 
          !visited(n)) 
        break;
    }
    if (di < 4) {
      grid[c.y][c.x] |= D;
      grid[n.y][n.x] |= OPPOSITE[D];
      visit(n);
    } else {
      stack.splice(ci, 1);
    }
  }
}  


function showMaze(m) {
  console.log(' ' + Array(m.w * 2).join('_'));
  for (var y = 0; y < m.h; ++y) {
    var s = (m.grid[y][x] & W) ? ' ' : '|';
    for (var x = 0; x < m.w; ++x) {
      s += (m.grid[y][x] & S) ? " " : "_";
      if (m.grid[y][x] & E)
        s += (((m.grid[y][x] | m.grid[y][x+1]) & S != 0) ? " " : "_");
      else
        s += '|';
    }
    console.log(s);
  }
}


function drawMaze(m, can) {
  var M = 2;
  var WW = can.width - 2 * M;
  var HH = can.height - 2 * M;
  var ctx = can.getContext('2d');
  ctx.clearColor = 'white';
  ctx.clearRect(0,0,WW,HH);
  ctx.beginPath();
  function X(x) { return (WW-1) * x/m.w }
  function Y(y) { return (HH-1) * y/m.h }
  function line(x0,y0,x1,y1) {
    ctx.moveTo(X(x0),Y(y0));
    ctx.lineTo(X(x1),Y(y1));
  }
  for (var x = 0; x < m.w; ++x)
    if (!(m.grid[0][x] & N)) line(x,0, x+1,0);
  for (var y = 0; y < m.h; ++y) {
    if (!(m.grid[y][0] & W)) line(0,y, 0,y+1);
    for (var x = 0; x < m.w; ++x) {
      if (!(m.grid[y][x] & S)) line(x,y+1, x+1,y+1);
      if (!(m.grid[y][x] & E)) line(x+1,y, x+1,y+1);
    }
  }
  ctx.stroke();
  var fsize = Math.floor(HH / m.h / 2);
  ctx.font = fsize + 'px Helvetica';
  ctx.strokeText('S', 0, 2 + 4 * fsize / 3);
  ctx.strokeText('F', WW - 2 - fsize/2, HH - 2 * fsize / 3);
}



</script>
